{env.DOMAIN} {
	encode zstd gzip
    tls {
        dns cloudflare {env.CF_API_TOKEN}  
    }
    # localhost is caddy container itself
    # webapi is a container name
    # reverse_proxy webapi:9999
    reverse_proxy localhost:9998
    # handle /game {
    #     reverse_proxy localhost:9998
    #　}
}

"www.{env.DOMAIN}" {
	encode zstd gzip
    tls {
        dns cloudflare {env.CF_API_TOKEN}  
    }
    # localhost is caddy container itself
    # webapi is a container name
    # reverse_proxy webapi:9999
    reverse_proxy localhost:9998
    # handle /game {
    #     reverse_proxy localhost:9998
    #　}
}
